.modal#modal-default(aria-hidden="true")
  .modal__wrapper
    .modal__inner
      .modal__content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum perferendis fugit aliquam tenetur doloremque deleniti nobis. Vel maiores eum corporis illo at animi, maxime voluptas hic quia, autem suscipit?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum perferendis fugit aliquam tenetur doloremque deleniti nobis. Vel maiores eum corporis illo at animi, maxime voluptas hic quia, autem suscipit?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum perferendis fugit aliquam tenetur doloremque deleniti nobis. Vel maiores eum corporis illo at animi, maxime voluptas hic quia, autem suscipit?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum perferendis fugit aliquam tenetur doloremque deleniti nobis. Vel maiores eum corporis illo at animi, maxime voluptas hic quia, autem suscipit?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum perferendis fugit aliquam tenetur doloremque deleniti nobis. Vel maiores eum corporis illo at animi, maxime voluptas hic quia, autem suscipit?
        button(data-modal-close)
          img(src="img/close-icon.svg", width="24", height="24", alt="Close modal")
