.section-title {
  font-size: 36px;
}

.section-subtitle {
  font-size: 20px;
}

.color-accent {
  color: $accent-color;
}

.section-padding {
  padding: 100px 0;
}

.section-margin {
  padding: 60px 0;
}
